/* div { 
    width: 100px;
    height: 100px;
    border: 1px solid red;
    margin: 10%;
    padding: 0 20px;
} */



/*
display: block; vs display: inline;
Como as caixas se comportam em relação as outras caixas
Comportamento externo das caixas
Display Block
Ocupa toda a linha, colocando o próximo elemento abaixo desse
*/

/* div {
  height: 100px;
  border: 1px solid red;
  width: 10px;
  display: inline
}

span {
  width: 10px;
  height: 100px;
  border: 1px solid green;
  display: block;
} */


/* * { margin: 0;} /*Tira as margens de lado */
/* 
div, section {
  border: 1px solid red;
  width: 100px;
  height: 100px;

  margin: 10px  auto;
} */ 

/* div {
  margin-bottom: 14px ;
}

section {
  margin-top: 12px;
} */


/* * { margin: 0; }

div, section {
  border: 1px solid red;


  padding: 10px 2em 8px 50%;
} */


* {margin: 0;}

div, section {
  width: 100px;
  height: 100px;
  margin: 20% auto;

  border: 10px solid red;
  border-top: double green 4px;
  border-bottom: none;

  outline: yellow 4px solid;

}